<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title slot="start">Registro de calificaciones</ion-title>
    <!--(ionInput)="handleInput($event)"     //para capturar letra por letra -->
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large" slot="start">Registro de calificaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
   
    <ion-card id="cardupdateuser" >
          

      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Registro de calificaciones
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Favor de capturar información de la materia y la calificación de los estudiantes.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form  [formGroup]="fg" (ngSubmit)="submitStudent(fg.value)">
          <div class="wrapform" >
            <ion-item>
              <ion-input label="Materia" labelPlacement="stacked" type="text" name="materia" formControlName="materia" ></ion-input>
            </ion-item>
          </div>
          <div class="sign-btn">
              <ion-button type="submit" shape="round"  [disabled]="!fg.valid">Calificar alumno</ion-button>
          </div>
        </form>

        <div class="tabledata" *ngIf="(section==='calificaciones')">
          <ion-grid>
            <ion-row nowrap class="table-headers">
              <ion-col size={{hdr.size}} class="single-border" *ngFor="let hdr of alumnoCalificacionesHeaders">
                <strong>{{hdr.title}}</strong>
              </ion-col>
            </ion-row>
            <ion-row nowrap class="tablecontent" *ngFor="let item of alumnoCalificaciones">
              <ion-col size={{fld.size}} *ngFor="let fld of alumnoCalificacionesHeaders">{{ getV(item, fld) }}</ion-col>

            </ion-row>
          </ion-grid>
        </div>
      
    </ion-card-content>
    

    </ion-card>

  </div>


</ion-content>
